<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.urjiwon.strawberry">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark">
        <service
            android:name=".controllers.MainService"
            android:enabled="true"
            android:label="@string/app_name" />

        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/Login" />
        <activity
            android:name=".view.TabLayoutActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.SignUpActivity"
            android:theme="@style/Login" />
        <activity
            android:name=".view.ChatDataActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.CommentActivity">
            android:theme="@style/AppTheme.DarkBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity android:name=".view.WriteActivity"></activity>
    </application>

</manifest>